{% extends "base.html" %}
  {% block title %}Об авторе проекта{% endblock %}
  {% block content %}
    <div class="container py-4">
			<div class="card my-2">
				<h1 class="card-header display-6">Привет, я автор этого проекта</h1>
				<div class="card-body">
					<div class="row">
					<aside class="col-md-4">
						<img class="rounded mx-auto d-block img-fluid" src="/media/users/author.jpg"><br>
					</aside>
					<article class="col-md-8">
						<p>Привет! Я Максим, мне 19 лет.</p>
						<p>Учусь в Высшей Школе Экономики на направлении "Информатика и вычислительная техника".</p>
					</article>
					</div>
				</div>
			</div>
    </div>
  {% endblock %}
